.card{
    width:50%;
    padding-top:10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Open Sans', sans-serif;
    color:#3C3C3C;
    margin: 20px;
    align-items: center;
    box-shadow: 0px 10px 20px #00000033;
    border-radius: 5px;
    border-color: #ccc;
    gap:20px;
    div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width:100%;
        h5{
            font-size: 18px;
            margin: 0;
            padding:0 20px;
        }
        button{
            width: 100px;
            background-color: #F7F7F7;
            border: none;
            height: 21px;
            margin:20px;
        }
    }
}

.table {
    background-color: #FFFFFF;
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  .th,
  .td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
  }
  .th {
    text-align: left;
  }
  .thead th {
    background-color: #F7F7F7;
  }
  .tbody tr{
    border-bottom: solid 1px #DDDDDD;
  }

  .tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
 .tbody td {
    position: relative;
  }
.tbody td:hover:before {
    content: "";
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
  }